.cards__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 7rem 0;
    padding: 0;
}

.cards__container .cards__card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.16);
    margin: 4rem 5rem;
}

.cards__container .cards__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2bbadd;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.cards__container .cards__card:hover::before{
    clip-path: circle(200px at 80% 20%);
}

.cards__container .cards__card::after {
    content: 'Shoes';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 11em;
    font-weight: 800;
    font-style: italic;
    color: rgba(211, 211, 211, 0.2);
}

.cards__container .cards__card .cards__imgBx {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    height: 220px;
    z-index: 10000;
    transition: 0.5s;
}

.cards__container .cards__card:hover .cards__imgBx {
    top: 0%;
    transform: translateY(0%);
}

.cards__container .cards__card .cards__imgBx img {
    position: absolute;
    left: 12%;
    width: 270px;
}

.cards__container .cards__card .cards__contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.cards__container .cards__card:hover .cards__contentBx {
    height: 210px;
}

.cards__container .cards__card .cards__contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #222;
}   

.cards__container .cards__card .cards__contentBx .cards__info,
.cards__container .cards__card .cards__contentBx .cards__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.cards__container .cards__card:hover .cards__contentBx .cards__info {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.cards__container .cards__card:hover .cards__contentBx .cards__price {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.cards__container .cards__card .cards__contentBx .cards__info h3,
.cards__container .cards__card .cards__contentBx .cards__price h3 {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.cards__container .cards__card .cards__contentBx .cards__info span {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    margin: 0 5px;
    transition: 0.5s;
}

.cards__container .cards__card .cards__contentBx button {
    background: #fcb322;
    color: #fff;
    outline: none;
    border-style: none;
    border-radius: .25em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    cursor: pointer;
    visibility: hidden;
}

.cards__container .cards__card .cards__contentBx button:disabled {
    background: red;
}

.cards__container .cards__card:hover .cards__contentBx button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay:  0.75s;
    visibility: visible;
}

.cards__stock {
    color: red;
}


