.links {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.links:hover{
    -webkit-transform: scale(1.7);
    transform: scale(1.1);
} 

.links__login {
    color: #279cb9;
    font-weight: 600;
}

.links__icon {
    font-size: 28px;
}

.cart {
    color: #fff;
}

.profile {
    color: #fff;
}

.order {
    color: #fff;
}

.cart::after {
    background: #fff;
}

@media screen and  (max-width: 600px) {
    .links__cart {
        top: 2rem;
    }

    .links__cart a {
        font-size: .9rem;
    }
}