.header__hero {
  text-align: center;
  padding: 15em 0;
  background: #eee;
  padding-bottom: 385px;
  background: url(../imgs/shoe-6.png), radial-gradient(rgba(221, 221, 221, 0.856), #eee);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__hero h1 {
  text-shadow: 2px 2px #fff;
}

.header__hero p {
  letter-spacing: 1px;
}

.paragraph-display {
  display: none;
}

.header__hero h1,
.header__hero p {
  color: #000;
}

.header__cart {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.header__cart > a {
  font-size: 1.7rem;
  color: #444;
}

.header__primaryTitle {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.title__alt {
  margin: 3.5rem 0;
}
  
  @supports (background-blend-mode: multiply) {
    .home {
      background: url(../imgs/shoe-3.png), radial-gradient(rgba(221, 221, 221, 0.856), #eee);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .shop {
      padding-bottom: 385px;
      background: url(../imgs/shoe-2.png), radial-gradient(rgba(221, 221, 221, 0.856), #eee);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }
}

.btn-home {
  background-color: #2bbadd;
}

.btn-display {
  display: none;
}

.yellow {
  color: #fcb322;
}

.red {
  color: #bb1c46;
}

@media screen and  (max-width: 600px) {
  .header__cart {
    top: 2rem;
    right: 2rem;
  }

  .header__cart > a {
    font-size: 1.3rem;
  }
}
