.header__primaryTitle {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.header__hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
  }
  
  @supports (background-blend-mode: multiply) {
    .header__hero {
      background: url(../imgs/shoe-3.png), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }
}

.header__hero {
    --clr-accent: #faa700;
}