.header__hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;
  position: relative;
}

.header__cart {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.header__cart > a {
  font-size: 1.7rem;
  color: #fff;
  opacity: .8;
  z-index: 1;
}

.header__primaryTitle {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.title__shop {
  margin-bottom: 3.5rem;
}
  
  @supports (background-blend-mode: multiply) {
    .home {
      background: url(../imgs/shoe-3.png), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .shop {
      padding-bottom: 385px;
      background: url(../imgs/shoe-2.png), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }
}

.btn-shop {
  display: none;
}

.header__hero {
    --clr-accent: #faa700;
}

@media screen and  (max-width: 600px) {
  .header__cart {
    top: 2rem;
    right: 2rem;
  }

  .header__cart > a {
    font-size: 1.3rem;
  }
}
