.featured {
    background: #eee;
}

.section-title {
    text-align: center;
    font-size: clamp(2rem, calc(5vw + 1rem), 3rem);
    font-weight: 800;
    line-height: 1;
    color: #222;
    margin-bottom: 5rem;
}

.featured__item {
    display: block;
    position: relative;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;
}
  
.featured__item:hover, .featured__item:focus {
    -webkit-transform: scale(1);
            transform: scale(1);
}
  
.featured__item:hover .featured__details, .featured__item:focus .featured__details {
    opacity: 1;
    text-shadow: 0 0 2em white;
}
  
.featured__item::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background: #2bbadd;
    z-index: -1;
}
  
.featured__details {
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}
  
.featured__details span {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
}

.product {
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;
}
  
.products__title {
    font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}
  
.products__image {
    margin: -5em 0 0 0;
}

.products__description {
    color: #fff;
}
  
@media (min-width: 45em) {
    .product {
      text-align: left;
      margin-bottom: 9em;
    }

    .products__title {
      margin: 0;
    }

    .products__image {
      float: right;
      width: 65%;
      shape-outside: url(../imgs/shoe-1.png);
      shape-margin: 1em;
      margin: 0 -5em 0 0;
    }

    .product.shoe-left .products__image {
      float: left;
      shape-outside: url(../imgs/shoe-2.png);
      margin: 0 0 0 -5em;
      shape-margin: 2em;
    }
}

.shoe-red {
    --clr-inner: #eac886;
    --clr-outer: #ff9e02;
    --clr-accent: #bb1c46;
}
  
.shoe-white {
    --clr-inner: #fce4b3;
    --clr-outer: #f8dca0;
    --clr-accent: #04b4b4;
}
  
.shoe-blue {
    --clr-inner: #6dd5ed;
    --clr-outer: #2bbadd;
    --clr-accent: #fcb322;
}